.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: #fafafa;
  border-bottom: 1px solid #e8e8e8;
}

.searchContainer {
  flex: 1;
}

.sortingInput {
  width: 180px;
}

.sortingInput :global(.ant-select-selection) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}