.wrapper {
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 45px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}

.list {
  display: flex;
  flex: 1;
  margin: 0px;
}

.list > div {
  display: flex;
  align-items: center;
  padding: 0px 17px;
  height: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  color: #444;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.list > div.active::after,
.list > div:hover::after {
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -1px;
  content: '';
}

.list > div.active::after {
  background: #0298FF;
}

.list > div:not(.active):hover {
  background: #f5f5f5;
}

.list > div > .counter {
  height: 20px;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #DADADA;
  border-radius: 10px;
  font-size: 11px;
  font-weight: 400;
  margin-left: 8px;
}

.list > div.active > .counter {
  background-color: #0298FF;
  color: #FFF;
}